#loading-bar {
    transition: all .5s ease-in-out;
    animation: loadingBar .7s  forwards infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes loadingBar {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(100vw)
    }
}

#main-container {
    height: calc(100% - 52.75px);
}

/* table {
    width: 1509px !important;
} */
#task-container {
    overflow: hidden;
}

 @media (max-width: 767px) {
    .col-0 {
        display: none;
    }
    #home-default {
        overflow: auto;
    }
    .my-row {
        gap: 0 !important;
    }
    #task-container {
        overflow: auto;
    }
    
 }

 

 @media (max-width: 575px) {
    #task-container {
        /* display: flex; */
        /* flex-direction: column-reverse !important; */
    }
    
 }


